<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Posts do Blog</title>
</head>
<body>
    <a href="cadastrar_post.html"><button>Criar Post</button></a>

    
    <p>Titulo: <%= titulo %></p>
    <p>Senha: <%= resumo %></p>
</html>