<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>cadastrado!</title>
   <link href="/style.css" rel="stylesheet">
</head>
<body>
    <h1>Cadastro!</h1>
        <div>
            <h4><%= db_nome %></h4>
            <h4><%= db_user %></h4>
            <h4><%= db_senha %></h4>
        </div>

        <a href="/">Logar</a>
    
    </body>
</html>