<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <h1><%= resposta %></h1>
    <a href="/">Voltar</a>
    <a href='/cadastrar_carro'>Gerenciar Carros</a>
    <a href='/carro_cadastrado'>Carros Disponiveis</a>
</body>
</html>