/* Coloque aqui seu estilo css: */

.flex-head {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 2px;
    
}

.flex-head div {
    background-color: #ff0000;
    color: #ffffff;
    width: 80px;
    font-size: 16pt;
    text-align: center;
    height: 60px;

}

.flex-time {
    
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 2px;
        
    
}

.flex-time div {
    display: flex;
    justify-content: space-between;
    text-indent: 95px;
    

}

h1 {
    color:#ff0000
}

.flex-imagens {
    display: flex;
    justify-content: space-around;
    
    margin: 2%;
    width: 600px;
    height: 300px

}

.flex-imagens div {
    position: absolute;
    background: #ff0000;
    height: 100px;
    color: #ffffff;
    left:2.4%;
    top:85%;
    width: 800px

}

.flex-imagens2 {
    display: flex;
    justify-content: space-around;
}

.meio {
    display: flex;
    background: #808080;
    margin-top: 9%;
    justify-content: space-around;
    color: #ffffff;
    font-size: 20pt;
    height: 400px;
    align-items: center;
    

}

.footer {
    display: flex;
    background: lightgrey;
    justify-content: space-around;
    width: auto;
    color:#808080;
    height: auto
}

.footer div {
    position:absolute;
    left: 8%
}

